// В этом файле должны быть стили для БЭМ-блока features, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.features {
	$block-name:                &; // #{$block-name}__element

	&__header{
		background-color: $second-color;
		color:#fff;
	}

	&__list{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin: 0;
		padding: 0;
		list-style:none;

		@media (min-width:$screen-sm){
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}

	&__item{
		display: block;
		background-image: svg-load('../img/friendship.svg', fill=#ff0);

		@media (min-width:$screen-sm){
	  		width:33.333334%;
	  	}
	}
}